<div id="diagram-boundary-id" class="container">

  <div class="diagram-boundary"  (dblclick)="openNewStateDialog($event)">
    <span (keydown)="logKey($event)">



    <div class="state"
         *ngFor="let state of states"
         (dblclick)="toggleAcceptableState(state.name)"
         [id]="state.name"
         cdkDrag
         cdkDragBoundary=".diagram-boundary"
         [ngStyle]="{'top': state.y - 15 +'px', 'left': state.x - 40 + 'px', 'position': 'absolute'}"
         >

      <div *ngIf="state.isInitial" id="triangle-right"></div>
      <div *ngIf="state.isInitial" class="inner-triangle"></div>
      <svg style="position:absolute;left:0px;top:0px" width="4" height="4" pointer-events="all" position="absolute" version="1.1" xmlns="http://www.w3.org/1999/xhtml">
        <circle cx="2" cy="2" r="2" version="1.1" xmlns="http://www.w3.org/1999/xhtml" style="" fill="#456" stroke="none"></circle>
      </svg>


      <div *ngIf="state.isAcceptable" id="circle-around"></div>

      <button id="menu-button"
              class="state-options-menu"
              mat-button
              #trigger
              [matMenuTriggerFor]="afterMenu">{{state.name}}
      </button>

      <mat-menu #afterMenu="matMenu" xPosition="after" overlapTrigger="false">
        <button mat-menu-item (click)="setInitialState(state.name)">
          <mat-icon>stars</mat-icon>
          <span>Initial State</span>
        </button>

        <button mat-menu-item (click)="openRenameStateDialog(state.name)">
          <mat-icon>rate_review</mat-icon>
          <span>Rename state</span>
        </button>
        <button mat-menu-item (click)="removeClickedState(state.name)">
          <mat-icon>delete</mat-icon>
          <span>Remove state</span>
        </button>
      </mat-menu>
    </div>
    </span>
  </div>
</div>



