
.diagram-boundary {
  height: 65vh;
  width: 85vw;
  max-width: 100%;
  border: dotted #ccc 2px;
  position: absolute;
}

.state {
  height: 9vh;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  font-size: 18px;
  z-index: 4;
  position: absolute;
  -webkit-transition: background-color 0.25s ease-in;
  -moz-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;

}

.state-options-menu {
  padding: 0;
  margin: 0;
  top: 22%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
}


.state:hover {
  background-color: rgba(63, 81, 180, 0.2);
}

.state:hover {
  background-color: rgba(63, 81, 180, 0.2);
}




.aLabel {
  -webkit-transition: background-color 0.25s ease-in;
  -moz-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
}

.aLabel.jtk-hover, .jtk-source-hover, .jtk-target-hover {
  background-color: rgba(40, 47, 144, 0.9);
  color: white;
}

.jtk-draggable {
  border-radius: 50%;
}

.selected-node {
  background-color: #3f51b5;

}

.selected-node > * {
  color: white !important;
}

.not-selected-node {
  background-color: white;
  color: black;
}


