<div class="container" style="position: relative">

  <div id="diagram-boundary-id" class="diagram-boundary"  (dblclick)="openNewStateDialog($event)">
    <mat-slider
      thumbLabel
      [displayWith]="formatLabel"
      tickInterval="1"
      min="1"
      max="1000"></mat-slider>
      <button mat-mini-fab color="primary" style="float: right; margin-top: 5px; margin-right: 5px;" (click)="restartCanvas()"><span>X</span></button>
      <div class="state"
           *ngFor="let state of states"
           [id]="state.name"
           [ngStyle]="{'top.px': state.top, 'left.px': state.left}">
      <div *ngIf="state.isInitial" style="position:absolute; top: 0%; left: -35%; font-size: 40px;">> </div>


        <div class="showMe" *ngIf="showLabelsMenu" style="border: 1px solid black; height: 2vh; width: 9vw; ">
          X X X
        </div>


      <button id="menu-button"
              class="state-options-menu"
              mat-button
              #trigger
              [ngStyle]="{'border': state.isAcceptable ? '1px solid black' : 'none'}"
              [matMenuTriggerFor]="clickMenuTrigger">{{state.name}}
      </button>



      <mat-menu #clickMenuTrigger="matMenu" xPosition="after">
        <button mat-menu-item (click)="toggleInitialState(state.name)">
          <mat-icon>play_circle_outline</mat-icon>
          <span>Initial State</span>
        </button>

        <button mat-menu-item (click)="toggleAcceptableState(state.name)">
          <mat-icon>check_circle_outline</mat-icon>
          <span>Accepting State</span>
        </button>

        <button mat-menu-item (click)="openRenameStateDialog(state.name)">
          <mat-icon>edit</mat-icon>
          <span>Rename state</span>
        </button>
        <button mat-menu-item (click)="removeClickedState(state.name)">
          <mat-icon>delete</mat-icon>
          <span>Remove state</span>
        </button>
      </mat-menu>
    </div>
  </div>

</div>





