<h1 mat-dialog-title>New State</h1>

<div class="dialog-content" mat-dialog-content>
  <!--<p></p>-->
    <mat-form-field>
      <input name="stateName"
             #stateName="ngModel"
             matInput
             [(ngModel)]="data.stateName"
             maxlength="20"
             required
             (change)="checkValidStateName($event)"
             placeholder="Enter New State Name" >
      <mat-hint *ngIf="sameStateNameUsed" align="end">{{stateName.value?.length || 0}}/20</mat-hint>
      <mat-hint style="color: red;" *ngIf="!sameStateNameUsed" align="end">State name already used.</mat-hint>
    </mat-form-field>
    <mat-checkbox [(ngModel)]="data.isInitialState">  Initial State</mat-checkbox>
    <mat-checkbox [(ngModel)]="data.isAcceptableState">Acceptable State</mat-checkbox>
    <div mat-dialog-actions style="float: right">
      <button mat-button (click)="onNoClick()">Not Now</button>
      <button mat-button (click)="onNewState()"
              id="new-state-submit-btn"
              [disabled]="!stateName.value || disableButton"
              [mat-dialog-close]="data.stateName"
              cdkFocusInitial>
        Create
      </button>
    </div>
</div>


<!-- When backtracking create class store them on stack and when fail pop until empty-->
